@{
    ViewData["Title"] = "Главная";
}

    <style>
        a.navbar-brand.main {
            color: #ffc107;
        }
    </style>


<div class="text-center">
    <h4 class="display-4">Веб приложение для учета покупок</h4>
</div>
