@model ProductsAccountingNew.Models.Product;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    @foreach (var product in @ViewBag.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td><a onclick="deleteProduct('@product.Id')" href="#"> delete </a></td>
        </tr>
    }
</table>

<script type="text/javascript">
    function deleteProduct(id) {
        $.ajax({
            url: '/delete_product/' + id,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>