@model ProductsAccountingNew.Models.ProductOfUser;

@{
    ViewBag.Title = "Список продуктов";
    Layout = "_Layout";
}

<style>
    a.nav-link.products {
        color: #ffc107;
    }
</style>



<table class="table table-hover" style="text-align: center;">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Название продукта</th>
            <th scope="col">Количество</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var products in @ViewBag.ProductsOfUsers)
        {
            <tr>
                <td>@products.ProductName</td>
                <td>@products.Count</td>
                <td><a onclick="deleteProduct('@products.Id')" href="#"> удалить </a></td>
            </tr>
        }

    </tbody>
</table>


<script type="text/javascript">
    function deleteProduct(id) {
        $.ajax({
            url: '/delete_product/' + id,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload()
            },
            error: function () {
                alert("Всё сломалось!!!")
            }
        })
    }
</script>