@model ProductsAccountingNew.Models.ProductPrice;

@{
    ViewBag.Title = "Изменение цены";
    Layout = "_Layout";
}

@using (Html.BeginForm("Edit", "ProductPrices", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m => m.Id)
        <tr>
            <td>Название:</td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>Цена:</td>
            <td>
                @Html.TextBoxFor(m => m.Price)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Изменить" />
            </td>
            <td></td>
        </tr>
    </table>
}
