@*@{
        ViewData["Title"] = "RegisterPage";
    }*@

<h2>Register</h2>
<form method="post" asp-action="Register">
    <p>
        <label>Login</label>
        <br />
        <input name="username" />
    </p>
    <p>
        <label>Password</label>
        <br />
        <input type="password" name="password" />
    </p>
    <input type="submit" value="Register" />
</form>

